---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Form from '../components/Form.astro'
import EmailForm from '../components/EmaiForm'
---

<Layout title="Welcome to Astro.">
  <main class="flex h-screen flex-col md:flex-row">
    <section
      class="flex-1 bg-[#9ad953] mt-5 mb-14 flex flex-col justify-center xl:justify-between items-center max-h-screen"
    >
      <></>
      <img
        class="h-80 object-contain md:h-[80vh]"
        src="/img/Imagenv3.png"
        alt=""
      />
      <footer
        class="flex flex-wrap gap-6 md:flex-row w-full justify-evenly px-8"
      >
        <img
          class="w-28"
          src="https://www.pacifico.com.pe/image/layout_set_logo?img_id=99451400&t=1708135827470"
          alt=""
        />
        <img
          class="w-28"
          src="https://imagescdn.rimac.com/blt4974fa4add99eba2/634830fa19d8652169cf7760/vertical-rimac-rbr.svg"
          alt=""
        />
        <img
          class="w-28"
          src="https://www.mapfre.com.pe/media/logo-mapfre-2.png"
          alt=""
        />
        <img
          class="w-28"
          src="https://www.lapositiva.com.pe/wps/wcm/connect/landing/0249961a-934a-4fa7-871b-3da3c8994602/logopos.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_NH4A1242M0JI80Q40U1PN238A2-0249961a-934a-4fa7-871b-3da3c8994602-novbPx6"
          alt=""
        />
      </footer>
    </section>
    <section class="flex-1 bg-[#212121] py-10 rounded-t-3xl md:rounded-none">
      <EmailForm client:load />
    </section>
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  footer > img {
    /* width: 15%; */
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  /* 
  @media (width >= 950px) {
    footer > img {
      width: 15%;
    }
  }

  @media (width <= 949px) {
    footer > img {
      width: 30%;
    }
  } */
</style>
