---
import '@fontsource-variable/onest'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: 'Onest Variable', sans-serif;
    background: #fff;
    background-size: 224px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .input {
    border-radius: 6px;
    padding: 12px;
    width: 100%;
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 0 0.1vw #aaa;
    transition: all 300ms ease-in;
  }

  .input:hover {
    box-shadow: 0 0 0 0.1vw white;
  }

  .input:focus {
    box-shadow: 0 0 0 0.1vw #9ad953;
  }

  .label {
    font-weight: 600;
  }

  .button {
    padding: 1em 0em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #9ad953;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid #9ad953;
  }

  .button:hover {
    color: #000000;
    transform: scale(1);
    outline: 2px solid #9ad953;
    box-shadow: 4px 5px 17px -4px #9ad953;
  }

  .button::before {
    content: '';
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #9ad953;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  .button:hover::before {
    width: 250%;
  }

  .radio-inputs {
    /*     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  }

  .radio-inputs > * {
    color: #fff;
  }

  .radio-input:checked + .radio-tile {
    border-color: #9ad953;
    box-shadow: 0 0 0 0.1vw #9ad953;
    color: #9ad953;
  }

  .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #9ad953;
    border-color: #9ad953;
  }

  .radio-input:checked + .radio-tile .radio-icon svg {
    /* fill: #9ad953; */
    /* color: #9ad953; */
  }

  .radio-input:checked + .radio-tile .radio-label {
    color: #9ad953;
  }

  .radio-input:focus + .radio-tile {
    border-color: #9ad953;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }

  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    /* border: 0.1vw solid #aaa; */
    background-color: transparent;
    box-shadow: 0 0 0 0.1vw #aaa;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }

  .radio-tile:before {
    content: '';
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 1.5px solid #b5bfd9;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
  }

  .radio-tile:hover {
    border-color: #9ad953;
    box-shadow: 0 0 0 0.1vw #9ad953;
  }

  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
    border: 1.5px solid #9ad953;
  }

  .radio-icon svg {
    width: 1.6rem;
    height: 1.6rem;
    /* fill: #494949; */
  }

  .radio-label {
    color: #fff;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
  }

  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
